doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/crafty-min.js')
    script(src='/javascripts/game.js')
    script(src='/javascripts/scenes/loading.js')
    script(src='/javascripts/scenes/menu.js')
    script(src='/javascripts/start.js')

  body
    block content