body {
	color: #d0d0d0;
	background-color: #333;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
}

#cr-stage {
	margin: auto;
	cursor: default;
}

footer {
	margin-top: 25px;
	text-align: center;
}